body {
    font-family: helvetica, serif;
}

* {
  box-sizing: border-box;
}

header {
width: 100%;
}

h2 {
  text-align: center;
    font-family: helvetica, serif;
}

article {
  float: left;
  width: 70%;
  padding-left: 20px;
  background-color: white;

}
section:after {
 content: "";
 display: table;
 clear: both;
}
table {
  width: 100%;
  border-style: solid;
}

form.search input[type=text] {
    float:left;
    padding: 5px;
    font-size: 17px;
    border: none;
    width: 20%;
    background: #f1f1f1;
    cursor:  pointer;
}

form.search button {
  float:left;
  width: 20%;
  padding: 5px;
  background: #2471A3;
  color: white;
  font-size: 17px;
  border: none;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}

form.search button:hover {
  background: #0b7dda;
}

.mdl-textfield__input {
    margin:auto;
    display:block;
    width: 30%;
    font-family: helvetica, serif;
    font-size: 20px;
    text-align: center;
    border-radius: 4px;
    box-sizing: border-box;
}

.mdl-button {
  background-color: #2471A3;
  margin:auto;
  display:block;
  font-size: 24px;
  cursor: pointer;
}

.mdl-button:hover {
  background-color: #1F618D;
  cursor: pointer;
}



p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
  margin: auto;
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}